<div class="row">
    <div class="contenedor">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
                <img src="../../../assets/APLogo.png" id="logoAp" hr>
            </a>
        </div>
        <div class="redes">
            <div>
                <a href="https://www.instagram.com/_tomasrepetto/?hl=es"><img src="../../../../assets/instagram.png" alt="instagram"></a>
                <a href="https://www.linkedin.com/in/tomas-repetto-7042261b2/"><img src="../../../../assets/linkedin.png" alt="linkedin"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Login</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
            </div>
        </div>
    </div>
</div>
